#cabecera{
    display: flex;
    justify-content: center;
    height: 300px;
    width: 100%;
    margin-bottom: 2%;
    background-color: #000c24;
    background-image: url(../imagenes/guitarra.jpg);
    background-repeat: no-repeat;
    background-position: 38%;
}
#cabecera > h1{
    color: white;
    margin-top: 6%;
}


.item{
    display: inline-block;
    width: 20%;
    margin: 0 2%;
    background-color: rgb(170, 228, 243);
    border: 2px solid rgb(0, 119, 255);
    border-radius: 10px;
    text-align: center;
    margin-bottom: 5px;
  

}
.item>a{
        text-decoration: none;
        font: bold 20px Verdana, sans-serif;
        color: rgb(5, 8, 10);
        display: block;
        
        margin-top: 5px;
    
}
.item:hover{

    background-color: rgb(66, 107, 241);
}
#main{
    height: 800px;
    width: 96%;
    margin: 5%;
    flex-direction: column;
    justify-content: center;
}

#principal{
    background-color: rgb(110, 216, 216);
    border: 2px rgb(77, 156, 156) solid;
    border-radius: 15px;
    margin: 2%;
    width: 30%;
}

.seccion{
    margin: 2%;
    background-color: rgb(125, 116, 204);
    width: 96%;
    
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.articulo{
    background-color: rgb(120, 103, 167);
    margin: 2%;
    border: 3px gray solid;
    border-radius: 20px;
    padding: 2%;
}

#cuerpo{
    background-color: rgb(150, 145, 145);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bandas{
    display: inline-flex;
    width: 210px;
    height: 30px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 3s ease-in all;
    background-color: rgb(74, 74, 201);
}
.bandas span{
    transition: .4s ease-in-out all;
    position: relative;
    right: 6%;
}

.icono{
    display: flex;
    position: relative;
    left: -10%;
    transition: .4s ease-in-out;
    color:rgb(74, 74, 201);
}
.bandas:hover .icono{
 left: 130px;
 color: black;
}
.bandas:hover span{
   right: 65px;
}

.GitHub{
    display: inline-flex;
    width: 100px;
    height: 100px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    clip-path: circle(90%);
    transition: .5s ease-in-out;
    background-color: rgb(186, 186, 250);
}
.GitHub span{
    position: relative;
    transition: .5s ease-in-out;
}
.GitHub:hover span{
    color: transparent;
}
#Git{
    text-decoration: none;
}
#gato{
    width: 16px;
    height: 16px;
}
.GitHub:hover #gato{
    width: 100px;
    height: 100px;
    transition: .5s ease-in-out;
 }
.icon{
    position: relative;
    left: 30px;
    color: rgb(186, 186, 250);
}
.GitHub:hover{
   clip-path: circle(50% at center);
}
.GitHub:hover .icon{
    color: black;
 }
 

@media screen and (max-width: 800px){
    .seccion{
        flex-direction: column;
    }
}
