#izquierda{
    display: flex;
    flex-direction: column;
}

.cuerpo{
    background-color: gray;
}

.cabeza {
    background-color: #14213D;
    width: 96%;
    border: black 2px solid;
    text-align: center;
}

.titulo_1 {
    font-size: 60px;
    color: #E5E5E5;
}

#titulo_2 {
    font-size: 35px;
}

#seccion{
    background-color: #FCA311;
    width: 90%;
    border: black 2px solid;
    border-top: none;
    padding: 7px;
    display: flex;
    flex-direction: row;
}
.uno {
    background-color: black;
    color: white;
    width: 50%;
    border: black 2px solid;
    padding: 20px;
    border-radius: 20px;
}

.dos {
    background-color: black;
    color: white;
    text-align: center;
    width: 50%;

    border: black 2px solid;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

.contacto {
    background-color: #E5E5E5;
    width: 95%;
    padding: 2%;
    color: black;
    border: white 2px solid;
    padding: 2%;
}

.tres{
    font-size: 15px;
    width: 50%;
    border: black 2px solid;
    border-left: none;
    padding: 4%;
    margin-bottom: 3%;
}

#pie{
    font-size: 15px;
    background-color: #FCA311;
    width: 40%;
    border: black 2px solid;
    border-top: none;
    padding: 20px;
}

.primera{
    background-color: rgb(126, 209, 109);
    display: flex;
    justify-content: center;
}

.contenedor {
    width: 80%;
    border: 3px skyblue solid;
    padding: 2%;
    margin: 8px;
    background-color: lightgray;
}
#mapa{
    border: 3px black solid;
}
#costado{
    margin-right: 200px;
}

#sobre {
    display: flex;
    flex-direction: row;
}

.area{
    display: flex;
    width: 70%;
    flex-direction: column;
}

.areas{
    margin: 2%;
    border: 3px grey solid;
    background-color: lightgray;
}

.areas > h1{
   background-color: rgb(152, 201, 201);
}

.blanco{
    height: 10px;
    background-color: white;
}

#IEN{
    display: flex;
    flex-direction: column;
}

.contenedor > h4{
    color: rgb(96, 202, 202);
}

#saludo{
    height: 300px;
    width: 100%;
    padding: 2%;
    background-image: url(../imagenes/fondos.jpg);
    background-size: 10%;
}

#bien{
    color: rgb(255, 255, 255);
}

.cont2{
    display: flex;
    justify-content: center;
}

.cuerpo{
    width: 100%;
    height: 100%;
}


#aprendido{
    background-color:#f8f9fa;
    width: 48%;
    border-top: 2px gray solid;
    margin-bottom: 2%;
}
#fotos{
    margin-left: 30%;
    margin-right: 30%;
    padding: 15%;
    border: 2px;
    background-image: url(../imagenes/html.png);
    background-size: contain;
background-repeat: no-repeat;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
    animation-name: css;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}

@keyframes css{

    to{background-image: url(../imagenes/css.png);
        background-size: contain;
        background-repeat: no-repeat;}
    }
    
@media screen and (max-width: 800px){
    #main{
        position: fixed;
    }
   #sobre{
    flex-direction: column;
   }
   #mapa{
    width: 400px;
   }

   #seccion{
    flex-direction: column;
    width: 90%;
   }

   #aprendido{
    width: 100%;
   }
   #aprendido > h1{
    font-size: 23px;
   }
   
   .titulo_1{
    font-size: 30px;
   }
   .uno{
    width: 90%;
   }
   .tres{
    width: 90%;
    padding: 7%;
   }
}